/* Google translator style starts here */
.goog-logo-link {
    display:none !important;
}

.goog-te-gadget{
    color: transparent !important;
}
.goog-te-combo {
    color: black;
}
.goog-te-banner-frame.skiptranslate {display: none !important;}
body { top: 0 !important; }
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/* Google translator style ends here */

.cd-new-color{
  color: #e71f30;
}