.header
{
	background:#171717!important;
}
.navbar-default .navbar-nav > li > a
{
	color: #fff!important;
}

.navbar-default .navbar-nav > li > a:hover
{
	color: #fff!important;
}
.badge {
    background: red none repeat scroll 0 0;
    margin-left: -15px;
    margin-top: -27px;
    }

    .backloader {
    background: #333 none repeat scroll 0 0;
    height: 100%;
    opacity: 0.81;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.loader {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 2s linear 0s normal none infinite running spin;
    background: transparent none repeat scroll 0 0;
    border-color: #fff #ac2224;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 16px;
    height: 120px;
    left: 46%;
    position: fixed;
    text-align: inherit;
    top: 50%;
    width: 120px;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}