/*header start here*/

.logo, .logo:hover {
    color: #fff;
}
.logo {
    font: bold 16px/16px "PT Sans Caption";
}
.logo {
    border: medium none;
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

#logo-wrapper img {
    width: 125px;
}
.logo img {
    border: 0 none;
    filter: none;
    max-width: 130px;
    /*max-width: 110px;*/
    padding: 0;
    vertical-align: middle;
}
/*header end here*/

ul.nav.navbar-nav {
    margin-top: 1.4em!important;
}
.gallery
{
	padding-top: 3em;
}

/*detepicker start here*/
.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > th
{
    text-align: center!important;
}
.datetimepicker 
{
    color: #000!important;
}
/*detepicker end here*/
.form-select-box
{
    -moz-appearance:none!important;
}

/*cart start here*/
.badge {
    background: red none repeat scroll 0 0;
    margin-left: -15px;
    margin-top: -27px;
    }
/*cart end   here*/

/*customize start here*/
.customize-row{
     padding: 4em 0!important;
}
.header2-heading-text
{
    color: #000!important;
}
.custom-heading-text
{
    color: #000;
    font-size: 1.2em;
    letter-spacing: 2px;
    margin: 1em 0 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
.customize-select-option
{
    text-align: center;
    font-size: 1.9em;
   
}
.custom-heading-text::after{
    background: #212121 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 40%;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 20%;
}

.switches {
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    width: 66%;
    background: #404040;
    color: white;
}
.tophead {
    border-bottom: 2px solid #ccc;
    font-size: 22px;
    padding-bottom: 14px;
}

/*customize end   here*/

.footer-grids > p {
    color: #868686;
}

.cartcaption::after {
    text-align: center;
    border-top: 3px solid #e71f30;
    content: "";
    display: block;
    margin: 8px auto 0;
    width: 81px;
}
.contact-w3ls
{
    margin-bottom: 0px!important;
}
.contact-w3ls>span
{
    color: #fff!important;
}
.cities 
{
    -moz-appearance:none!important;
}

.backloader {
    background: #333 none repeat scroll 0 0;
    height: 100%;
    opacity: 0.81;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.loader {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 2s linear 0s normal none infinite running spin;
    background: transparent none repeat scroll 0 0;
    border-color: #fff #ac2224;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 16px;
    height: 120px;
    left: 46%;
    position: fixed;
    text-align: inherit;
    top: 50%;
    width: 120px;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.goog-te-combo
{
    -moz-appearance: none!important;
    -webkit-appearance: none;
    border: none;
    
    padding: 10px;
    height: 39px!important;
        border-radius: 5px;
    min-width: 121px;
    margin-top: -4px important;
}
.goog-te-gadget .goog-te-combo
{
    margin-top: -4px!important;
}
.start-designing-btn
{
    padding: 15px!important;
    width: 298px!important;
    font-size: 20px!important;
    text-align: center!important;
  
}

.heading-text{
    font-family: PT Serif Caption!important;
    font-weight: 400!important;
    letter-spacing :2px!important;
}
.sub-heading-text{
    font-family: PT Sans Narrow!important;
    font-weight: 400!important;
    letter-spacing :2px!important;
}
.normal-text{
    font-family: open sans!important;
    font-weight: 400!important;
}
.color-gold
{
    color: #bdab54!important;
}
.color-black
{
    color: #000!important;
}
.on-hover-gold-color:hover
{
    color: #bdab54!important;
}
.on-hover-black-color:hover
{
    color: #000!important;
}
.on-hover-white-color:hover
{
    color: #fff!important;
}
.on-hover-background-black:hover
{
     background: #000!important;
}
.on-hover-background-gold:hover
{
     background: #bdab54!important;
}
.on-hover-background-white:hover
{
     background: #fff!important;
}
.background-black
{
    background: #000!important;
}
.background-grey
{
    background: #f5f5f5!important;
}
.text-shadow-gold
{
    text-shadow:5px 5px 4px #e5e5e5;
}