body{
    overflow-x: hidden;
}
.content {
    height: 550px;

}
.content_inner {
    height: 70px;
    padding: 5px
}
.content_inner img {
    height: 60px;
    float: left
}
.content_inner div {
    float: left;
    margin: 20px
}
.content_inner.active {
    background-color: #cccccc;
}
.close {
    height: 20px;
    margin-top: 5px;
}
.panel {
    position: absolute;
    top: 12%;
    left: 130px;
    width: 300px;
    border:1px solid #ccc;
    display: none;
    background: #fff !important
}
.em-text {
    height: 50px;
}
.em-text.active {
    padding: 2px;
}
h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
li p {
    margin-top: 0;
}
.left-container {
    width: 120px;
    height: 659px;
    overflow-y: scroll;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.left_container_img {
    border-left: 1px;
    border-right: 1px;
    padding: 2%;
    text-align: center;
    cursor: pointer;
    border-radius: 14px;
}
.left_container_img img {
    width: 80px;
    height: 80px;
    border-radius: 22%;
}
.heading {
    background-color: white;
    padding: 10px;
    font-family: MS Serif;
}
.title {
    text-align: left;
    display: inline-block;
    font-size: 18px;
}
.left_font {
    font-size: 18px;
    width: 100%;
    font-family: calibri;
}
.content_inner1 {
    display: block;
    height: 100px;
    border-top: 1px;
    cursor: pointer;
    background-color: transparent;
    padding-top: 10px;
}
.content_inner1 img {
    float: left;
    border-radius: 24%;
    height: 90px;
}
.content_inner1 div {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}
.content_inner1.active {
    background-color: #cccccc;
}
.sidenav {
    height: 315px;
    width: 0;
    bottom: 130px;
    position: fixed;
    z-index: 1;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    border-radius: 18px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}
.sidenav h2 {
    padding: 2px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.bottom_img {
    width: 65px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1023px) {
    .left-container {
        display: flex;
        flex-direction: row;
        height: 115px;
        overflow-x: scroll;
        width: 100%;
    }
    .content{
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 550px;
        height:200px;
    }
    .content_inner {
        height: 70px;
        width:100px;
        padding: 5px
    }
}
/*
!* Smartphones (portrait and landscape) ----------- *!
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: column;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

!* Smartphones (landscape) ----------- *!
@media only screen and (min-width : 321px) {
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

!* Smartphones (portrait) ----------- *!
@media only screen and (max-width : 320px) {
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

!* iPads (portrait and landscape) ----------- *!
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

!* iPads (landscape) ----------- *!
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    !* Styles *!
    .left-container {
        width: 120px;
        height: 659px;
        overflow-y: scroll;
        position:absolute;
        display: flex;
        flex-direction: column;
    }
}

!* iPads (portrait) ----------- *!
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    !* Styles *!
    .left-container {
        width: 120px;
        height: 659px;
        overflow-y: scroll;
        position:absolute;
        display: flex;
        flex-direction: column;
    }
}
!**********
iPad 3
**********!
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    !* Styles *!
    .left-container {
        width: 120px;
        height: 659px;
        overflow-y: scroll;
        position:absolute;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    !* Styles *!
    .left-container {
        width: 120px;
        height: 659px;
        overflow-y: scroll;
        position:absolute;
        display: flex;
        flex-direction: column;
    }
}
!* Desktops and laptops ----------- *!
@media only screen  and (min-width : 1224px) {
    !* Styles *!
    .left-container {
        width: 120px;
        height: 659px;
        overflow-y: scroll;
        position:absolute;
        display: flex;
        flex-direction: column;
    }
}

!* Large screens ----------- *!
@media only screen  and (min-width : 1824px) {
    !* Styles *!
    .left-container {
        width: 120px;
        height: 659px;
        overflow-y: scroll;
        position:absolute;
        display: flex;
        flex-direction: column;
    }
}

!* iPhone 4 ----------- *!
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

!* iPhone 5 ----------- *!
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

!* iPhone 6 ----------- *!
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

!* iPhone 6+ ----------- *!
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

!* Samsung Galaxy S3 ----------- *!
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

!* Samsung Galaxy S4 ----------- *!
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

!* Samsung Galaxy S5 ----------- *!
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    !* Styles *!
    .left-container{
        display: flex;
        flex-direction: row;
        height: 153px;
        !*margin-bottom: 5px;*!
        overflow-x: scroll;
        !*padding-bottom: 10%;*!
        !*position: absolute;*!
        width: 100%;
    }
}*/
